<h1>Showing selected Article</h1>

<p>Title: <%= @article.title %>
  <br />
  Description: <%= @article.description %>
</p>

<%= link_to 'Edit', edit_article_path(@article)  %>
&nbsp;&nbsp;
<%= link_to "Back to article listing", articles_path %>